<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Salle {{ numero }}</title>
    </head>
    <body>
        <img src="/images/Logo_UPJV.png" alt="Logo UPJV" height="100px"/>
        <h1>Salle {{ numero }}</h1>
        <p> Voici quelques informations concernant la salle numéro : {{ numero }}<br \>
            blablabla {{ numero }} blablabla {{ numero }} blablabla {{ numero }}
            blablabla {{ numero }} blablabla {{ numero }} ....
        </p>
        <p>Lien vers <a href="{{ path('salle_tp_afficher', {'numero': numero + 1}) }}">la suivante</a></p>
        <p>Lien vers <a href="{{ path('salle_tp_accueil') }}">l'accueil</a></p>
    </body>
</html>